.about-us  {
	 color:#f67d13;
}

  #about-us a:hover  {
	 color:#f67d13;
}

  ul.sf-menu #about-us ul.sub-menu li a  {
	 color:#f67d13 !important;
}

  .about-us-footer  {
	 background-color:#f67d13 !important;
	border:1px #f67d13 solid;
}

.sf-navbar .sf-breadcrumb#about-us a  {
	 color:#f67d13 !important;
}

  .sf-navbar .current_page_item#about-us a  {
	 color:#f67d13 !important;
}

  ul.tabs a.about-us-footer.current  {
	 color:#f67d13 !important;
}


  ul.sf-menu #board-of-directors-directors-council ul.sub-menu li a  {
	 color: !important;
}

  .board-of-directors-directors-council-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#board-of-directors-directors-council a  {
	 color: !important;
}

  .sf-navbar .current_page_item#board-of-directors-directors-council a  {
	 color: !important;
}

  ul.tabs a.board-of-directors-directors-council-footer.current  {
	 color: !important;
}



  ul.sf-menu #contact-us ul.sub-menu li a  {
	 color: !important;
}

  .contact-us-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#contact-us a  {
	 color: !important;
}

  .sf-navbar .current_page_item#contact-us a  {
	 color: !important;
}

  ul.tabs a.contact-us-footer.current  {
	 color: !important;
}

  .mission-and-history  {
	 color:#ffffff;
}

  #mission-and-history a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #mission-and-history ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .mission-and-history-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#mission-and-history a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#mission-and-history a  {
	 color:#ffffff !important;
}

  ul.tabs a.mission-and-history-footer.current  {
	 color:#ffffff !important;
}

  .opportunities  {
	 color:#ffffff;
}

  #opportunities a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #opportunities ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .opportunities-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#opportunities a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#opportunities a  {
	 color:#ffffff !important;
}

  ul.tabs a.opportunities-footer.current  {
	 color:#ffffff !important;
}

  .internships  {
	 color:#ffffff;
}

  #internships a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #internships ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .internships-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#internships a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#internships a  {
	 color:#ffffff !important;
}

  ul.tabs a.internships-footer.current  {
	 color:#ffffff !important;
}

  .teen-opportunities  {
	 color:#ffffff;
}

  #teen-opportunities a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #teen-opportunities ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .teen-opportunities-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#teen-opportunities a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#teen-opportunities a  {
	 color:#ffffff !important;
}

  ul.tabs a.teen-opportunities-footer.current  {
	 color:#ffffff !important;
}



  ul.sf-menu #volunteer ul.sub-menu li a  {
	 color: !important;
}

  .volunteer-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#volunteer a  {
	 color: !important;
}

  .sf-navbar .current_page_item#volunteer a  {
	 color: !important;
}

  ul.tabs a.volunteer-footer.current  {
	 color: !important;
}

  .press  {
	 color:#ffffff;
}

  #press a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #press ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .press-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#press a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#press a  {
	 color:#ffffff !important;
}

  ul.tabs a.press-footer.current  {
	 color:#ffffff !important;
}



  ul.sf-menu #rent-this-space ul.sub-menu li a  {
	 color: !important;
}

  .rent-this-space-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#rent-this-space a  {
	 color: !important;
}

  .sf-navbar .current_page_item#rent-this-space a  {
	 color: !important;
}

  ul.tabs a.rent-this-space-footer.current  {
	 color: !important;
}

  .staff-2  {
	 color:#ffffff;
}

  #staff-2 a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #staff-2 ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .staff-2-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#staff-2 a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#staff-2 a  {
	 color:#ffffff !important;
}

  ul.tabs a.staff-2-footer.current  {
	 color:#ffffff !important;
}

  .supporters  {
	 color:#ffffff;
}

  #supporters a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #supporters ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .supporters-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#supporters a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#supporters a  {
	 color:#ffffff !important;
}

  ul.tabs a.supporters-footer.current  {
	 color:#ffffff !important;
}

  .artforall  {
	 color:#C7158D;
}

  #artforall a:hover  {
	 color:#C7158D;
}

  ul.sf-menu artforall ul.sub-menu li a  {
	 color:#C7158D !important;
}

  .artforall-footer  {
	 background-color:#C7158D !important;
	border:1px #C7158D solid;
}

.sf-navbar .sf-breadcrumb#artforall a  {
	 color:#C7158D !important;
}

  .sf-navbar .current_page_item#artforall a  {
	 color:#C7158D !important;
}

  ul.tabs a.artforall-footer.current  {
	 color:#C7158D !important;
}

  .artogether  {
	 color:#ffffff;
}

  #artogether a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #artogether ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .artogether-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#artogether a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#artogether a  {
	 color:#ffffff !important;
}

  ul.tabs a.artogether-footer.current  {
	 color:#ffffff !important;
}



  ul.sf-menu #arts-to-lyfe ul.sub-menu li a  {
	 color: !important;
}

  .arts-to-lyfe-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#arts-to-lyfe a  {
	 color: !important;
}

  .sf-navbar .current_page_item#arts-to-lyfe a  {
	 color: !important;
}

  ul.tabs a.arts-to-lyfe-footer.current  {
	 color: !important;
}

  .creating-connections  {
	 color:#ffffff;
}

  #creating-connections a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #creating-connections ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .creating-connections-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#creating-connections a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#creating-connections a  {
	 color:#ffffff !important;
}

  ul.tabs a.creating-connections-footer.current  {
	 color:#ffffff !important;
}

  .free-art-island-outpost  {
	 color:#ffffff;
}

  #free-art-island-outpost a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #free-art-island-outpost ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .free-art-island-outpost-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#free-art-island-outpost a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#free-art-island-outpost a  {
	 color:#ffffff !important;
}

  ul.tabs a.free-art-island-outpost-footer.current  {
	 color:#ffffff !important;
}

  .inclusive-weekend-classes  {
	 color:#ffffff;
}

  #inclusive-weekend-classes a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #inclusive-weekend-classes ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .inclusive-weekend-classes-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#inclusive-weekend-classes a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#inclusive-weekend-classes a  {
	 color:#ffffff !important;
}

  ul.tabs a.inclusive-weekend-classes-footer.current  {
	 color:#ffffff !important;
}


  ul.sf-menu #restart ul.sub-menu li a  {
	 color: !important;
}

  .restart-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#restart a  {
	 color: !important;
}

  .sf-navbar .current_page_item#restart a  {
	 color: !important;
}

  ul.tabs a.restart-footer.current  {
	 color: !important;
}

  .stripes  {
	 color:#ffffff;
}

  #stripes a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #stripes ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .stripes-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#stripes a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#stripes a  {
	 color:#ffffff !important;
}

  ul.tabs a.stripes-footer.current  {
	 color:#ffffff !important;
}

  .birthdays  {
	 color:#FF9900;
}

  #birthdays a:hover  {
	 color:#FF9900;
}

  ul.sf-menu #birthdays ul.sub-menu li a  {
	 color:#FF9900 !important;
}

  .birthdays-footer  {
	 background-color:#FF9900 !important;
	border:1px #FF9900 solid;
}

.sf-navbar .sf-breadcrumb#birthdays a  {
	 color:#FF9900 !important;
}

  .sf-navbar .current_page_item#birthdays a  {
	 color:#FF9900 !important;
}

  ul.tabs a.birthdays-footer.current  {
	 color:#FF9900 !important;
}

  .blog  {
	 color:#ffffff;
}

  #blog a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #blog ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .blog-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#blog a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#blog a  {
	 color:#ffffff !important;
}

  ul.tabs a.blog-footer.current  {
	 color:#ffffff !important;
}

  .calendar-3  {
	 color:#00BAC5;
}

  #calendar-3 a:hover  {
	 color:#00BAC5;
}

  ul.sf-menu #calendar-3 ul.sub-menu li a  {
	 color:#00BAC5 !important;
}

  .calendar-3-footer  {
	 background-color:#00BAC5 !important;
	border:1px #00BAC5 solid;
}

.calendar { color:#00BAC5 !important; }  #calendar a:hover { color:#00BAC5; }  ul.sf-menu #calendar ul.sub-menu li a { color:#00BAC5 !important; }  .calendar-footer { background-color:#00BAC5 !important; }  .sf-navbar .current_page_parent#calendar a { color:#00BAC5 !important; }  .sf-navbar .current_page_item#calendar a { color:#00BAC5 !important; }


.sf-navbar .sf-breadcrumb#calendar-3 a  {
	 color:#00BAC5 !important;
}

  .sf-navbar .current_page_item#calendar-3 a  {
	 color:#00BAC5 !important;
}

  ul.tabs a.calendar-3-footer.current  {
	 color:#00BAC5 !important;
}

  .classes  {
	 color:#FF3300;
}

  #classes a:hover  {
	 color:#FF3300;
}

  ul.sf-menu #classes ul.sub-menu li a  {
	 color:#FF3300 !important;
}

  .classes-footer  {
	 background-color:#FF3300 !important;
	border:1px #FF3300 solid;
}

.sf-navbar .sf-breadcrumb#classes a  {
	 color:#FF3300 !important;
}

  .sf-navbar .current_page_item#classes a  {
	 color:#FF3300 !important;
}

  ul.tabs a.classes-footer.current  {
	 color:#FF3300 !important;
}

  .5-teen-program  {
	 color:#ffffff;
}

  #5-teen-program a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #5-teen-program ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .5-teen-program-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#5-teen-program a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#5-teen-program a  {
	 color:#ffffff !important;
}

  ul.tabs a.5-teen-program-footer.current  {
	 color:#ffffff !important;
}

  .after-school  {
	 color:#ffffff;
}

  #after-school a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #after-school ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .after-school-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#after-school a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#after-school a  {
	 color:#ffffff !important;
}

  ul.tabs a.after-school-footer.current  {
	 color:#ffffff !important;
}

  .art-colony  {
	 color:#ffffff;
}

  #art-colony a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #art-colony ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .art-colony-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#art-colony a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#art-colony a  {
	 color:#ffffff !important;
}

  ul.tabs a.art-colony-footer.current  {
	 color:#ffffff !important;
}



  ul.sf-menu #overview ul.sub-menu li a  {
	 color: !important;
}

  .overview-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#overview a  {
	 color: !important;
}

  .sf-navbar .current_page_item#overview a  {
	 color: !important;
}

  ul.tabs a.overview-footer.current  {
	 color: !important;
}


  ul.sf-menu #private-and-small-group-lessons ul.sub-menu li a  {
	 color: !important;
}

  .private-and-small-group-lessons-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#private-and-small-group-lessons a  {
	 color: !important;
}

  .sf-navbar .current_page_item#private-and-small-group-lessons a  {
	 color: !important;
}

  ul.tabs a.private-and-small-group-lessons-footer.current  {
	 color: !important;
}

  .wee-arts  {
	 color:#ffffff;
}

  #wee-arts a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #wee-arts ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .wee-arts-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#wee-arts a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#wee-arts a  {
	 color:#ffffff !important;
}

  ul.tabs a.wee-arts-footer.current  {
	 color:#ffffff !important;
}

  .weekend-drop-off-classes  {
	 color:#ffffff;
}

  #weekend-drop-off-classes a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #weekend-drop-off-classes ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .weekend-drop-off-classes-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#weekend-drop-off-classes a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#weekend-drop-off-classes a  {
	 color:#ffffff !important;
}

  ul.tabs a.weekend-drop-off-classes-footer.current  {
	 color:#ffffff !important;
}
.aboutus-footer,.dayatcma-footer{background-color: #555555; border-top: 1px solid #555555; border-left: 1px solid #555555; border-right: 1px solid #555555;}
ul.tabs a.aboutus-footer.current,ul.tabs a.dayatcma-footer.current {
color: #555555!important;
}


  .exhibits  {
	 color:#006699;
}

  #exhibits a:hover  {
	 color:#006699;
}

  ul.sf-menu #exhibits ul.sub-menu li a  {
	 color:#006699 !important;
}

  .exhibits-footer  {
	 background-color:#006699 !important;
	border:1px #006699 solid;
}

.sf-navbar .sf-breadcrumb#exhibits a  {
	 color:#006699 !important;
}

  .sf-navbar .current_page_item#exhibits a  {
	 color:#006699 !important;
}

  ul.tabs a.exhibits-footer.current  {
	 color:#006699 !important;
}

  .past  {
	 color:#ffffff;
}

  #past a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #past ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .past-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#past a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#past a  {
	 color:#ffffff !important;
}

  ul.tabs a.past-footer.current  {
	 color:#ffffff !important;
}

  .permanent-collection  {
	 color:#ffffff;
}

  #permanent-collection a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #permanent-collection ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .permanent-collection-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#permanent-collection a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#permanent-collection a  {
	 color:#ffffff !important;
}

  ul.tabs a.permanent-collection-footer.current  {
	 color:#ffffff !important;
}

  .upcoming  {
	 color:#000000;
}

  #upcoming a:hover  {
	 color:#000000;
}

  ul.sf-menu #upcoming ul.sub-menu li a  {
	 color:#000000 !important;
}

  .upcoming-footer  {
	 background-color:#000000 !important;
	border:1px #000000 solid;
}

.sf-navbar .sf-breadcrumb#upcoming a  {
	 color:#000000 !important;
}

  .sf-navbar .current_page_item#upcoming a  {
	 color:#000000 !important;
}

  ul.tabs a.upcoming-footer.current  {
	 color:#000000 !important;
}

  .visit-us  {
	 color:#12d5ed;
}

  #visit-us a:hover  {
	 color:#12d5ed;
}

  ul.sf-menu #visit-us ul.sub-menu li a  {
	 color:#12d5ed !important;
}

  .visit-us-footer  {
	 background-color:#12d5ed !important;
	border:1px #12d5ed solid;
}

.sf-navbar .sf-breadcrumb#visit-us a  {
	 color:#12d5ed !important;
}

  .sf-navbar .current_page_item#visit-us a  {
	 color:#12d5ed !important;
}

  ul.tabs a.visit-us-footer.current  {
	 color:#12d5ed !important;
}

  .a-day-at-cma  {
	 color:#ffffff;
}

  #a-day-at-cma a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #a-day-at-cma ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .a-day-at-cma-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#a-day-at-cma a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#a-day-at-cma a  {
	 color:#ffffff !important;
}

  ul.tabs a.a-day-at-cma-footer.current  {
	 color:#ffffff !important;
}

  .faq  {
	 color:#ffffff;
}

  #faq a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #faq ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .faq-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#faq a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#faq a  {
	 color:#ffffff !important;
}

  ul.tabs a.faq-footer.current  {
	 color:#ffffff !important;
}

  .overview  {
	 color:#ffffff;
}

  #overview a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #overview ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .overview-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#overview a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#overview a  {
	 color:#ffffff !important;
}

  ul.tabs a.overview-footer.current  {
	 color:#ffffff !important;
}

  .get-involved  {
	 color:#DB21AB;
}

  #get-involved a:hover  {
	 color:#DB21AB;
}

  ul.sf-menu #get-involved ul.sub-menu li a  {
	 color:#DB21AB !important;
}

  .get-involved-footer  {
	 background-color:#DB21AB !important;
	border:1px #DB21AB solid;
}

.sf-navbar .sf-breadcrumb#get-involved a  {
	 color:#DB21AB !important;
}

  .sf-navbar .current_page_item#get-involved a  {
	 color:#DB21AB !important;
}

  ul.tabs a.get-involved-footer.current  {
	 color:#DB21AB !important;
}

  .campaign  {
	 color:#ffffff;
}

  #campaign a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #campaign ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .campaign-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#campaign a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#campaign a  {
	 color:#ffffff !important;
}

  ul.tabs a.campaign-footer.current  {
	 color:#ffffff !important;
}

  .corporate-support  {
	 color:#ffffff;
}

  #corporate-support a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #corporate-support ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .corporate-support-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#corporate-support a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#corporate-support a  {
	 color:#ffffff !important;
}

  ul.tabs a.corporate-support-footer.current  {
	 color:#ffffff !important;
}

  .donor-list  {
	 color:#ffffff;
}

  #donor-list a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #donor-list ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .donor-list-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#donor-list a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#donor-list a  {
	 color:#ffffff !important;
}

  ul.tabs a.donor-list-footer.current  {
	 color:#ffffff !important;
}

  .membership  {
	 color:#ffffff;
}

  #membership a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #membership ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .membership-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#membership a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#membership a  {
	 color:#ffffff !important;
}

  ul.tabs a.membership-footer.current  {
	 color:#ffffff !important;
}

  .past-special-events  {
	 color:#ffffff;
}

  #past-special-events a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #past-special-events ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .past-special-events-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#past-special-events a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#past-special-events a  {
	 color:#ffffff !important;
}

  ul.tabs a.past-special-events-footer.current  {
	 color:#ffffff !important;
}

  .special-events  {
	 color:#ffffff;
}

  #special-events a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #special-events ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .special-events-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#special-events a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#special-events a  {
	 color:#ffffff !important;
}

  ul.tabs a.special-events-footer.current  {
	 color:#ffffff !important;
}

  .spring-benefit  {
	 color:#ffffff;
}

  #spring-benefit a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #spring-benefit ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .spring-benefit-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#spring-benefit a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#spring-benefit a  {
	 color:#ffffff !important;
}

  ul.tabs a.spring-benefit-footer.current  {
	 color:#ffffff !important;
}

  .young-professionals-committee  {
	 color:#ffffff;
}

  #young-professionals-committee a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #young-professionals-committee ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .young-professionals-committee-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#young-professionals-committee a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#young-professionals-committee a  {
	 color:#ffffff !important;
}

  ul.tabs a.young-professionals-committee-footer.current  {
	 color:#ffffff !important;
}

  .home  {
	 color:#35a7b5;
}
.home-new  {
	 color:#35a7b5;
}

  #home a:hover  {
	 color:#35a7b5;
}

  ul.sf-menu #home ul.sub-menu li a  {
	 color:#35a7b5 !important;
}

  .home-footer  {
	 background-color:#35a7b5 !important;
	border:1px #35a7b5 solid;
}

.home-new-footer  {
	 background-color:#35a7b5 !important;
	border:1px #35a7b5 solid;
}

.sf-navbar .sf-breadcrumb#home a  {
	 color:#35a7b5 !important;
}

  .sf-navbar .current_page_item#home a  {
	 color:#35a7b5 !important;
}

  ul.tabs a.home-footer.current  {
	 color:#35a7b5 !important;
}

  .schools  {
	 color:#FF0085;
}

  #schools a:hover  {
	 color:#FF0085;
}

  ul.sf-menu #schools ul.sub-menu li a  {
	 color:#FF0085 !important;
}

  .schools-footer  {
	 background-color:#FF0085 !important;
	border:1px #FF0085 solid;
}


  .artforall {
	 color:#373737;
}

  #artforall a:hover  {
	 color:#FF0085;
}

  ul.sf-menu #artforall ul.sub-menu li a  {
	 color:#373737 !important;
}

  .artforall-footer  {
	background-color:#373737 !important;
		border:1px #373737 solid;
}


.sf-navbar .sf-breadcrumb#schools a  {
	 color:#FF0085 !important;
}

  .sf-navbar .current_page_item#schools a  {
	 color:#FF0085 !important;
}

  ul.tabs a.schools-footer.current  {
	 color:#FF0085 !important;
}

  .group-visits  {
	 color:#ffffff;
}

  #group-visits a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #group-visits ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .group-visits-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#group-visits a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#group-visits a  {
	 color:#ffffff !important;
}

  ul.tabs a.group-visits-footer.current  {
	 color:#ffffff !important;
}


  ul.sf-menu #in-school-residencies ul.sub-menu li a  {
	 color: !important;
}

  .in-school-residencies-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#in-school-residencies a  {
	 color: !important;
}

  .sf-navbar .current_page_item#in-school-residencies a  {
	 color: !important;
}

  ul.tabs a.in-school-residencies-footer.current  {
	 color: !important;
}

  .professional-development  {
	 color:#ffffff;
}

  #professional-development a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #professional-development ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .professional-development-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#professional-development a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#professional-development a  {
	 color:#ffffff !important;
}

  ul.tabs a.professional-development-footer.current  {
	 color:#ffffff !important;
}


  ul.sf-menu #overview ul.sub-menu li a  {
	 color: !important;
}

  .overview-footer  {
	 background-color: !important;
	border:1px  solid;
}

.sf-navbar .sf-breadcrumb#overview a  {
	 color: !important;
}

  .sf-navbar .current_page_item#overview a  {
	 color: !important;
}

  ul.tabs a.overview-footer.current  {
	 color: !important;
}

  .summer-group-visits  {
	 color:#ffffff;
}

  #summer-group-visits a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #summer-group-visits ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .summer-group-visits-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#summer-group-visits a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#summer-group-visits a  {
	 color:#ffffff !important;
}

  ul.tabs a.summer-group-visits-footer.current  {
	 color:#ffffff !important;
}

  .teacher-resources  {
	 color:#ffffff;
}

  #teacher-resources a:hover  {
	 color:#ffffff;
}

  ul.sf-menu #teacher-resources ul.sub-menu li a  {
	 color:#ffffff !important;
}

  .teacher-resources-footer  {
	 background-color:#ffffff !important;
	border:1px #ffffff solid;
}

.sf-navbar .sf-breadcrumb#teacher-resources a  {
	 color:#ffffff !important;
}

  .sf-navbar .current_page_item#teacher-resources a  {
	 color:#ffffff !important;
}

  ul.tabs a.teacher-resources-footer.current  {
	 color:#ffffff !important;
}

  
#nav  {
	 width: 600px;
	 margin: 15px ;
	 margin-left:30px;
}


#nav li  {
	 width: 100px;
	 float: left;
	 margin: 8px;
	 list-style: none ;
	  
}

#nav li img  {
	 
 
}


#nav a  {
	 width: 90px;
	 padding: 3px;
	 display: block;
	 border: 1px solid #ccc;
}


#nav li.activeSlide a  {
	 background: #88f;
}


#nav a:focus  {
	 outline: none;
}


#nav img  {
	 border: none;
	 display: block ;
}



