 @font-face {font-family:"Decker";src:url("fonts/Decker.eot?") format("eot"),url("fonts/Decker.woff") format("woff"),url("fonts/Decker.ttf") format("truetype"),url("fonts/Decker.svg#") format("svg");font-weight:normal;font-style:normal;}
 
  @font-face {font-family:"Decker Bold";src:url("fonts/DeckerB.eot?") format("eot"),url("fonts/DeckerB.woff") format("woff"),url("fonts/DeckerB.ttf") format("truetype"),url("fonts/DeckerB.svg#") format("svg");font-weight:normal;font-style:normal;}



@font-face {
    font-family: 'MeloriacRegular';
    src: url('fonts/meloriac-webfont.eot');
    src: url('fonts/meloriac-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/meloriac-webfont.woff') format('woff'),
         url('fonts/meloriac-webfont.ttf') format('truetype'),
         url('fonts/meloriac-webfont.svg#MeloriacRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.decker-bold {font-family:"Decker Bold";}
.decker {font-family:"Decker";}
